<div class="container">
    <div class="row m-5">
      <div class="col-md-3 mb-4" *ngFor="let product of products">
        <div class="card p-2" [routerLink]="['/product', product.id]" style="cursor: pointer;">
          <img [src]="product.image" id="productImg" alt="{{ product.name }}" height="200px">
          <div class="card-body p-2">
            <h6 class="card-title" style="cursor:pointer">{{ product.name }}</h6>
            <p class="card-text">{{ product.price }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>