<div class="container mt-4">
    <h2 class="mb-4">Manage Products</h2>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Price</th>
          <th>Stock</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of paginatedProducts">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>${{ product.price }}</td>
          <td>{{ product.stock }}</td>
          <td><button class="btn btn-sm btn-info mx-2">Edit</button><button class="btn btn-sm btn-danger mx-2">Delete</button></td>
        </tr>
      </tbody>
    </table>
  
    <!-- Pagination Controls -->
    <nav>
      <ul class="pagination justify-content-center">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">Previous</button>
        </li>
        <li
          class="page-item"
          *ngFor="let page of pages"
          [class.active]="currentPage === page"
        >
          <button class="page-link" (click)="changePage(page)">{{ page }}</button>
        </li>
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">Next</button>
        </li>
      </ul>
    </nav>
  </div>
  