.navbar-brand{
    font-size: 25px;
    font-weight: bold;
}
.nav-link{
    cursor: pointer;
    font-size: 18px;
    padding: 2px;
}
.dropdown-item{
    cursor: pointer;
}
.nav-link.active{
    border-bottom: 2px solid white;
}