<div class="toast-container p-3">
    <div *ngFor="let toast of toasts" class="toast show align-items-center" role="alert" aria-live="assertive"
        aria-atomic="true">
        <div [class]="getToastClass(toast) + ' d-block'">
            <div class="row m-0 p-2 d-block">
                <div class="col-2 d-inline-block">
                    <i class="material-icons fs-1">{{toast.type=='success'?"check":toast.type}}</i>
                </div>
                <div class="col-10 d-inline-block">
                    <h4 class="d-inline-block w-auto m-0">{{toast.title}}</h4>
                    <button type="button" class="btn-close btn-close-white float-end mx-2" aria-label="Close"
                (click)="removeToast(toast.id)"></button>
                    <h5 class="m-2">{{ toast.message }}</h5>
                </div>
            </div>
        </div>
    </div>
</div>

